[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
sklearn = "*"
scipy = "*"
ipython = "*"
"jinja2" = "*"
pyaml = "*"
hy = "*"
pyyaml = "*"


[dev-packages]



[requires]

python_version = "3.6"
